<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>GitWise</title>
    <link rel="stylesheet" href="./app/styles.css">
</head>

<body>
    <table>
        <tr class="main-header">
            <th colspan="6">Encabezado Principal</th>
        </tr>
        <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
            <th>Columna 4</th>
            <th>Columna 5</th>
            <th>Columna 6</th>
        </tr>
    </table>

    <script src="./app/renderer.js"></script>
</body>

</html>